<!DOCTYPE html>
<html>
<head>
<style>
    body{
        background-image: url("../images/bg0.jpg");
    background-size: cover; 
    }
    div{
        background-color: rgba(255,255,255,0.5);
        text-align: center;
        margin:10% auto;
        padding: 50px;
        margin-left: 35%;
        margin-right: 35%;
        border-radius: 10px;
    }
    #go{
        background-color: #4386fc;
        color:White;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        min-width: 150px;
        padding :16px 40px;
        border:none;
        margin-bottom: 10px;
    }
    #go:hover{
background-color: #3399ff;
    }
    #login{
        background-color: green;
        color:White;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        min-width: 150px;
        padding :16px 40px;
        border:none;


    }
    #login:hover{
        background-color: rgb(29, 153, 66);
    }
    h1{
       
        font-family: "Open Sans", sans-serif;

    }
    
    </style>
</head>
<body>
    <div>
    <h1>Personal Forms</h1>
    <form action="/register" method="GET">
    <button id="go">Go to Forms</button>
    </form>
    <form action="/login">
    <button id="login">Login</button>
    </form>
</div>

</body>
</html>